<h1>{{ title }}</h1>

<form action="/memberResponse" method="POST">
    First Name: <input type="text" name="firstName" /><br />
    Last Name: <input type="text" name="lastName" /><br />
    Email: <input type="email" name="email" /><br />

<p>Does pineapple go on pizza?</p>
    <input type = "radio", id = "0" name = "responseA" value = "0">
    <label for = "I'd rather not"> I'd rather not </label><br>
    <input type = "radio", id = "1" name = "responseA" value = "1"> 
    <label for = "It's delicious on pizza!"> It's delicious on pizza! </label><br>
    <br>
    <button type="submit">Submit</button>
</form>
