<html>
    <div class="box">
        <head>
            <h1> {{ title }} </h1> <br>
        </head>
        <body>
            <p class="lead"> There are {{ pineappleNo }} anti-pineapples-on-pizza voters and</p>
            <p class="lead"> {{ pineappleYes }} who believe pineapples go wonderfully on pizza.</p>
            <p> Thanks for participating! Share with friends to settle this debate once and for all.</p>
        </body>
    </div>
</html>

