<html>
    <div class="box">
        <head>
            <h1> {{ title }} </h1><br>
        </head>
        <body>
            <p class="lead">If you provided an email address, you'll receive an email with the results soon.</p>
            <p class="lead">If not, no biggie! Click below to see the results!</p><br>
            <center><a class="btn btn-success btn btn-lg" href="https://stark-cove-98938.herokuapp.com/results">Results</a></center>
        </body>
    </div>
</html>